<div class="col-sm-12 col-lg-4 mb-5">
  <div id="diary-id-<%= diary.id %>">
    <div class="card">
      <%= image_tag diary.thumbnail_image_url, class: "card-img-top", width: "350", height: "200" %>
      <div class="card-content">
        <div class="d-flex">
          <h5 class="card-title">
            <%= link_to diary.title, diary_path(diary),class: "stretched-link text-decoration-none", style: "margin-left: 1.0em;"%>
          </h5>
        </div>
        <ul class='ms-auto'>
          <li><i class="bi bi-person"></i><%= diary.user.decorate.full_name %></li>
          <li><i class="bi bi-calendar"></i><%= l diary.created_at, format: :short %></li>
        </ul>
      </div>
    </div>
  </div>
</div>